@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li,
a,
button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  text-decoration: none;
  color: azure;
}

header {
  background-color: hsl(197, 85%, 61%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 1rem;
}
.logo {
  width: 3rem;
  cursor: pointer;
  margin-right: auto;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0 2rem;
}
.nav-links li a {
  transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
  color: #0088a9;
}
button {
  padding: 0.9rem 2.5rem;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 4rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 2rem;
}
button:hover {
  background-color: rgba(0, 136, 169, 0.6);
}

.content {
  height: 100rem;
  width: 100%;
  background-color: hsl(203, 65%, 81%);
}